<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="man" />
        <input type="text" v-model="man">
        <p>{{man}}</p>
        <p>{{man2}}</p>
        <input type="text" v-model="man2">
        <input type="text" v-model="man2">
        <input type="text" value="111" v-model="man2">

    </div>
    <script src="./vue.js"></script>
    <script>
        // v-model ="data中的变量"，作用于表单元素双向绑定 value 无效
        var vm = new Vue({
            el: '#app',
            data: {
                man: "科比",
                man2: "陈江华"
            },
            methods: {}
        });
    </script>
</body>
<!--  -->

</html>